<div [ngClass]="{
    'border-0': mediaLayout !== 'lg' && mediaLayout !== 'xl',
    'rounder-0': mediaLayout !== 'lg' && mediaLayout !== 'xl'
  }"
  class="card card-block p-2">
  <ul aria-orientation="vertical"
    class="flex-column nav nav-fill nav-pills"
    role="tablist">
    <li class="nav-item ">
      <a #rla="routerLinkActive"
        [routerLink]="['/']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link text-left"
        outerLinkActive="active"
        role="tab"
        routerLinkActive="active">
        <i class="fa fa-home mr-2" style="width:1rem;"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a #rla="routerLinkActive"
        [routerLink]="['users']"
        class="nav-link text-left"
        role="tab"
        routerLinkActive="active">
        <i class="fa fa-user mr-2" style="width:1rem;"></i>
        <span>Users</span>
      </a>
    </li>
  </ul>
</div>
