<div class="border border-primary mb-3 rounded" style="overflow:auto;">
  <table class="border-0 mb-0 rounded-0 table table-borderless table_data-table table-hover table-responsive table-responsive-md table-striped"
    ngClass="{{ config.className || '' }}"
    role="grid"
    style="min-width:800px;table-layout:fixed;width:100%;">
    <thead>
      <tr role="row">
        <th *ngFor="let column of columns; let i = index;"
          (sortChanged)="onChangeTable($event)"
          [appTableSorting]="config"
          [column]="column"
          [ngStyle]="{ 'width': i === 0 ? '300px' : '180px' }"
          class="bg-primary text-white"
          ngClass="{{ column.className || '' }}"
          scope="col">
          <span [innerHtml]="column.title"></span>
          <span class="mt-1 position-relative pull-right">
            <i class="fa fa-sort position-absolute" style="opacity:0.4;"></i>
            <i *ngIf="config && column.sort"
              [ngClass]="{
                'fa-sort-desc': column.sort === 'desc',
                'fa-sort-asc': column.sort === 'asc'
              }" class="fa position-absolute"></i>
          </span>
        </th>
        <th *ngIf="config.actions"
          [innerHtml]="'Actions'"
          class="bg-primary text-white"
          scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="showFilterRow">
        <td *ngFor="let column of columns" class="bg-secondary">
          <input *ngIf="column.filtering"
            (tableChanged)="onChangeTable(config)"
            [appTableFiltering]="column.filtering"
            class="form-control border-dark"
            placeholder="{{ column.filtering.placeholder }}"
            style="text-overflow:ellipsis;"/>
        </td>
        <td *ngIf="config.actions" class="bg-secondary"></td>
      </tr>
      <tr *ngFor="let row of rows">
        <td *ngFor="let column of columns"
          (click)="cellClick(row, column.name)"
          [innerHtml]="sanitize(getData(row, column.name))"></td>
        <td *ngIf="config.actions" class="text-center">
          <button class="btn btn-primary btn-sm" (click)="actionInit(row)">
            <i class="fa fa-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
