<div class="row mb-3">
  <div class="col col-6 col-md-4 col-lg-4">
    <input *ngIf="config.filtering"
      (tableChanged)="onChangeTable(config)"
      [appTableFiltering]="config.filtering"
      class="form-control"
      placeholder="Filter all columns"/>
  </div>
</div>

<app-table (actionInitiated)="onActionInit($event)"
  (cellClicked)="onCellClick($event)"
  (tableChanged)="onChangeTable(config)"
  [columns]="columns"
  [config]="config"
  [rows]="rows">
</app-table>

<div *ngIf="config.paging"
  class="card card-block card-header pb-3 pl-3 pr-3 pt-3">
  <div class="row">
    <div [ngClass]="{ 'mb-3': mediaLayout !== 'md' && mediaLayout !== 'lg' && mediaLayout !== 'xl' }"
      class="col col-12 col-md-4 col-lg-4">
      <div [innerHtml]="'Page: ' + page + '/' + numPages"
        [ngClass]="{ 'justify-content-center': mediaLayout !== 'md' && mediaLayout !== 'lg' && mediaLayout !== 'xl' }"
        class="h-100 d-flex align-items-center"></div>
    </div>
    <div class="col col-12 col-md-8 col-lg-8">
      <ngb-pagination *ngIf="config.paging"
        (numPages)="numPages"
        (pageChange)="onChangeTable(config, $event)"
        [(page)]="page"
        [boundaryLinks]="true"
        [collectionSize]="collectionSize"
        [maxSize]="maxSize"
        [ngClass]="{ 'justify-content-center': mediaLayout !== 'md' && mediaLayout !== 'lg' && mediaLayout !== 'xl' }"
        [pageSize]="itemsPerPage"
        [rotate]="false"
        class="mb-0 pagination float-md-right float-lg-right">
      </ngb-pagination>
    </div>
  </div>
</div>
