<app-navbar (toggledSidebar)="toggleSidebar($event)"
  [(mediaLayout)]="mediaLayout"
  class="bg-primary d-block fixed-top shadow w-100"></app-navbar>

<div *ngIf="mediaLayout !== 'lg' && mediaLayout !== 'xl'"
  [ngClass]="{ 'app-sidebar__wrap_active': sidebarActive }"
  class="app-sidebar__wrap_xs-sm h-100 bg-light position-fixed shadow">
  <app-sidebar [(mediaLayout)]="mediaLayout"></app-sidebar>
</div>

<div *ngIf="mediaLayout !== 'lg' && mediaLayout !== 'xl' && sidebarActive"
  (click)="toggleSidebar($event)"
  class="app-sidebar__overlay h-100 w-100 position-fixed"></div>

<div [ngStyle]="{ 'padding-top': mediaLayout === 'xs' ? '4rem' : '3rem' }"
  class="container">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div *ngIf="mediaLayout === 'lg' || mediaLayout === 'xl'"
        class="col-2 d-md-flex bg-faded pl-2 pr-2 pt-4 h-100">
        <app-sidebar [(mediaLayout)]="mediaLayout" class="d-block w-100"></app-sidebar>
      </div>
      <div [ngClass]="{
          'col-10': mediaLayout === 'lg' || mediaLayout === 'xl',
          'col-12': mediaLayout !== 'lg' && mediaLayout !== 'xl'
        }" class="col h-100 pb-3 pl-2 pr-2 pt-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
