.app-sidebar__wrap_xs-sm {
  overflow: hidden;
  width: 0;
  z-index: 10;
  @media screen and (min-width: 576px) and (max-width: 991px) {
    padding-top: 58px;
  }
  @media screen and (max-width: 575px) {
    padding-top: 72px;
  }
  &.app-sidebar__wrap_active {
    width: 200px;
  }
}
.app-sidebar__overlay {
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
