<div class="modal-header">
  <h5 class="modal-title" [innerHtml]="'Edit user permissions'"></h5>
  <button (click)="activeModal.dismiss('Cross click')"
    aria-label="Close"
    class="close"
    type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body ">
  <div>
    <b [innerHtml]="'Full Name: '"></b>
    <span [innerHtml]="initPerson.name"></span>
  </div>
  <div>
    <b [innerHtml]="'Active Rights: '"></b>
    <b [innerHtml]="initPerson.rights" class="text-secondary"></b>
    <span *ngIf="initPerson.includes.length">
      <span [innerHtml]="' (includes '"></span>
      <b [innerHtml]="initPerson.includes.join(', ')"></b>
      <span [innerHtml]="' )'"></span>
    </span>
    <span *ngIf="!initPerson.includes.length">
      <span [innerHtml]="' (without privileges)'"></span>
    </span>
  </div>
  <div *ngIf="!disabled">
    <b [innerHtml]="'New Rights: '"></b>
    <b [innerHtml]="user.rights" class="text-secondary"></b>
    <span *ngIf="user.includes.length">
      <span [innerHtml]="' (includes '"></span>
      <b [innerHtml]="user.includes.join(', ')"></b>
      <span [innerHtml]="' )'"></span>
    </span>
    <span *ngIf="!user.includes.length">
      <span [innerHtml]="' (without privileges)'"></span>
    </span>
  </div>
</div>

<div class="modal-body border-top">
  <label *ngFor="let right of rights" class="input-group">
    <span class="input-group-prepend">
      <span [ngClass]="{
        'bg-primary': right.primary,
        'border-primary': right.primary
        }" class="input-group-text">
        <input (change)="editRights(right)"
          [checked]="user.rights === right.id"
          type="radio">
      </span>
    </span>
    <span [ngClass]="{ 'border-primary': right.primary }" class="form-control">
      <span class="row">
        <span class="col col-10">
          <span [innerHtml]="right.desc.charAt(0).toUpperCase() + right.desc.slice(1)" class="mr-2"></span>
        </span>
        <span class="col col-2 text-right">
          <i *ngIf="right.active || right.primary" class="fa fa-check"></i>
        </span>
      </span>
    </span>
  </label>
</div>

<div class="modal-footer">
  <button (click)="resetRights()"
    [disabled]="disabled"
    class="btn btn-outline-primary"
    type="button">Reset</button>
  <button (click)="saveRights();activeModal.dismiss('Cross click')"
    [disabled]="disabled"
    class="btn btn-primary"
    type="button">Save</button>
</div>
