app-home {
  .home-icon {
    max-width: 220px;
    min-width: 140px;
    width: 40%;
    svg {
      width: 100%;
    }
  }
  .display-4 {
    @media screen and (max-width: 575px) {
      font-size: 40px;
    }
  }
}
