<div class="align-content-center align-items-center card card-block card-header d-flex flex-column justify-content-center p-3 p-lg-5">
  <div class="align-items-center bg-light border border-primary d-inline-flex home-icon justify-content-center mb-3 p-2 p-lg-3 rounded-circle" style="font-size:0;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
      <path d="M47.916,27.288a12.911,12.911,0,0,1-15.832,0A15,15,0,0,0,20,42V52a4.983,4.983,0,0,0,4.5,4.95,6.005,6.005,0,0,1,6-5.95H31V46a9,9,0,0,1,18,0v5h.5a6.005,6.005,0,0,1,6,5.95A4.983,4.983,0,0,0,60,52V42A15,15,0,0,0,47.916,27.288Z" fill="#1e9550"></path>
      <path d="M40,27A10,10,0,1,1,50,17,10.011,10.011,0,0,1,40,27Z" fill="#1eb65b"></path>
      <path d="M37,51V46a3,3,0,0,1,6,0v5h3V46a6,6,0,0,0-12,0v5Z" fill="#137034"></path>
      <path d="M49.5,54h-19a3,3,0,0,0-3,3V71a3,3,0,0,0,3,3h19a3,3,0,0,0,3-3V57A3,3,0,0,0,49.5,54ZM40,70a3.5,3.5,0,0,1-2-6.367V60a2,2,0,0,1,4,0v3.633A3.5,3.5,0,0,1,40,70Z" fill="#137034"></path>
    </svg>
  </div>
  <h1 class="display-4 mb-4 text-center text-primary">User Roles<br>Editor</h1>
  <h3 class="lead text-center">Managing users rights through a data table.</h3>
</div>
